.login-wrapper{
    padding: 18px;
    background: #1A1A1E;
    border-radius: 10px;
    width: 397px;
    transition: all 1s;

}
form {
    width: 300px;
     color: #8e8e8e;
     width: 100%;
  }

  .login{
    font-family: monospace;
    text-align: center;
  }

  input {
    background-color: #1f1f22;
    outline: none;
    border: 0px;
    border: 2px solid #2c2a2a;
    border-radius: 6px;
    padding: 3px 6px;
    color: white;
    height: 50px;
    width: 100%;
  }
  
  .input-container {
    margin: 8px 0px;
  }
  
  .btn.btn-primary {
    color: black;
    border-radius: 4px;
  }
