<div class="login-wrapper shadow-lg ">
    <h1 class="login">Login</h1>
    <form class="d-flex flex-column" >

        <div class="input-container">
            <label for="username">Email address</label>
            <input type="text" name="username" id="username" [(ngModel)]="username" class="" placeholder="abc@example.com" />
        </div>

        <div class="input-container d-flex flex-column">
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="password" id="password" class="" placeholder="Password" />
        </div>

        <button type="button" (click)="login()" class="btn btn-primary mt-3">Login</button>

    </form>
    <p class="mt-4 text-light">Not registered?  <a routerLink="/auth/register">Create account</a></p>
</div>