<div class="bg-transparent d-flex flex-column h-100" *ngIf="currentChat" >
    <nav class="d-flex p-4">
        <div class="userInfo d-flex gap-3 align-items-center">
            <div class="profile_img " [ngClass]="userService.isOnline(currentChat.contact_id) && user.isgroup == true  ? 'online' : user.isgroup == false ?  'offline' : ''">
                <img [src]="currentChat.profile_path" appDefaultImage alt="">
            </div>
            <div>
                <h5 class="mb-0" style="color: #FFFFFF;">{{currentChat.contact_name
                }}</h5>
                <small style="color: #717174;">{{userService.isOnline(currentChat.contact_id) == true  ? 'Active Now' : 'Last Seen '+dateService.formatDate(currentChat.contact_last_seen)}}  </small>
            </div>
        </div>
        <div class="options">

        </div>
    </nav>
    <div id="messages" class="messages flex-grow-1">
        <!-- sent message -->
         <div *ngFor="let msg of messages">
             <div class="sentMessage " *ngIf="msg.sender_id == user.user_id">
                 <div class="content px-3 py-2">
                     <div class="meta-data d-flex justify-content-between ">
                         <small>{{user.name}}</small>
                         <small>{{dateService.formatDate(msg.sent_at)}}</small>
                     </div>
                     <p>{{msg.message_text}}</p>
                    
                 </div>
                 <div class="profile_img " [ngClass]="userService.isOnline(msg.sender_id)  ? 'online' : 'offline'" style="margin-top: auto;" >
                     <img [src]="currentChat.profile_path" appDefaultImage alt="">
                 </div>
                 <!-- <div>yfasfsydfy</div> -->
             </div>
             <div class="receiveMessage " *ngIf="msg.sender_id != user.user_id">
                 <div class="profile_img " [ngClass]="userService.isOnline(msg.sender_id)  ? 'online' : 'offline'" style="margin-top: auto;" >
                     <img [src]="currentChat.profile_path" appDefaultImage alt="">
                 </div>
                 <div class="content px-3 py-2">
                     <div class="meta-data d-flex justify-content-between ">
                         <small>{{msg.sender_name}}</small>
                         <small>{{dateService.formatDate(msg.sent_at)}}</small>
                     </div>
                     <p>{{msg.message_text}}</p>
                    
                 </div>
                 
             </div>
         </div>
        <!-- message end -->
      
    </div>
    <div class="inputs">
        <div class="input-container d-flex align-items-center gap-4">
            <input type="text" class="p-3 flex-grow-1" placeholder="Type a message" name="message_text" (keypress)="onEnterPress($event)" [(ngModel)]="message_text" > 
            <button type="button" class="send-btn" (click)="sendMessage()" >
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                    <path
                        d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480l0-83.6c0-4 1.5-7.8 4.2-10.8L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z" />
                </svg>
            </button>
        </div>
    </div>
</div>
