<nav>
    <div class="d-flex align-items-center">
        <button (click)="goTo(undefined)" class="btn-transparent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512">
                <path
                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
            </svg>
        </button>
        <h5 class="mb-0 pb-0">Profile</h5>

    </div>
</nav>

<div class="profile-section">
    <!-- Profile Image -->
    <div class="image-wrapper">
        <img [src]="user.profile_path" appDefaultImage alt="Group profile" height="200" width="200">
        <input type="file" name="group_profile" accept="image/png, image/jpeg, image/jpg" id="profile" #fileInput
            (change)="onGroupProfileUpload($event)" hidden>
        <div class="overlay"></div>
        <div class="hover-icon">
           <button class="btn-sm btn" (click)="triggerFileInput()" >
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="#000">
                    <path
                        d="M12 16.3q1.375 0 2.338-.962.962-.963.962-2.338 0-1.375-.962-2.337Q13.375 9.7 12 9.7t-2.338.963q-.962.962-.962 2.337 0 1.375.962 2.338.963.962 2.338.962Zm-6 3.7q-.825 0-1.413-.588Q4 18.825 4 18V8q0-.825.587-1.413Q5.175 6 6 6h2.1l.6-1.3q.15-.325.45-.513.3-.187.65-.187h5.4q.35 0 .65.187.3.188.45.513l.6 1.3H18q.825 0 1.413.587Q20 7.175 20 8v10q0 .825-.587 1.412-.588.588-1.413.588Zm6-6.25q-2 0-3.375-1.375T7.25 9q0-2 1.375-3.375T12 4.25q2 0 3.375 1.375T16.75 9q0 2-1.375 3.375T12 13.75ZM6 18h12V8H6v10ZM12 9Zm0 4.25Z" />
                </svg>
            </button>
         
        </div>
    </div>

    <!-- User Details -->
    <div class="user-details">
      <h3>{{ user.name }}</h3>
      <p><b>Email:</b> {{ user.email }}</p>
      <p><b>Mobile:</b> {{ user.mobile }}</p>
    </div>
  </div>