

<div class="main  d-flex" >
    <div class="sidebar" #sidebar>
        <app-sidebar (viewChange)="switchView($event)" (markAsRead)="messageReceived()"></app-sidebar>
    </div>
    <div class="conversation flex-grow-1" #conversation>
        <app-converstaion (viewChange)="switchView($event)" [isSmallScreen]="isSmallScreen" [msgUpdate]="currentChatMessage"></app-converstaion>
    </div>
    <div class="info" #info *ngIf="userService.contactInfoVisible ">
        <app-contact-info (viewChange)="switchView($event)"></app-contact-info>
    </div>
</div>