<!-- <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
    <p>{{currentUser?.name}}</p>
    <img [src]="currentUser?.profile_path" height="100" appDefaultImage width="100" alt="">
    <button type="button" (click)="logout()">Logout</button>
</div> -->

<div class="main  d-flex" >
    <div class="sidebar">
        <button type="button" (click)="logout()">Logout</button>
        <app-sidebar ></app-sidebar>
    </div>
    <div class="conversation flex-grow-1">
        <app-converstaion [messages]="incomingMessage"></app-converstaion>
    </div>

</div>