.left
{
    background-color: var(--bg-dark);
    color: var(--text-white);
    max-width: 50%;
}
.right
{
    
    background-color: var(--bg-dark-gray);
    color: var(--text-white);
    max-width: 50%;
}

  @media screen and (max-width: 768px) {
    .left {
      display: none !important;
    }
    .right{
      width: 100vw;
      max-width: 100%;
    }
  }