<div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">

    <h2 class="text-center">No Profile Picture found! <br />
        Update One
    </h2>

    <div class="image">
        <img [src]="url ? url :'../../../assets/images/default-user-profile.png'" class="profile_pic" height="250"
            width="250" alt="">
    </div>
    <input type="file" name="" id="input_file" accept="image/png, image/jpg, image/jpeg, image/gif" hidden>

    <span>
        <button (click)="onClickUpload()"> click to upload</button>
    </span>

    <div class="button-group">
        <button (click)="skip()">Skip for now</button>
        <button (click)="save()">Update </button>
    </div>

</div>

<img [src]="fromserver" height="200" width="200" alt="">